body {
	background: steelblue;
	font-family: 'Lato', sans-serif;
	letter-spacing: .75px;

}

#controls {
	width: 800px;
}
	.controls {
		border: 2px dotted mintcream;
		border-radius: 70px;
		color: mintcream;
		cursor: pointer;
		display: inline-block;
		margin-right: 25px;
		padding: 5px 0;
		width: 100px;
		text-align: center;
	}
		.controls:hover {
			background: mintcream !important;
		}

/*
.box {
	height: 60px;
	position: relative;
	width: 60px;
}
*/

#play {
	background: red;
}
	#play:hover {
		border: 2px dotted red;
		color: red;
	}

#pause {
	background: orange;
}
	#pause:hover {
		border: 2px dotted orange;
		color: orange;
	}


#restart {
	background: gold;
	/*	border-bottom: 15px solid limegreen;*/
}
	#restart:hover {
		border: 2px dotted gold;
		color: gold;
	}

#resume {
	background: limegreen;
	}
	#resume:hover {
		border: 2px dotted limegreen;
		color: limegreen;
	}

#reverse {
	background: turquoise;
	}
		#reverse:hover {
			border: 2px dotted turquoise;
			color: turquoise;
		}
#slider {
	height: 20px;
	width: 500px;
	margin: 10px;
	background: darkorchid;
}

.btn {
	border: 2px solid snow;
	border-radius: 70px;
	color: snow;
	padding: 5px 0;
	position: fixed;
	right: 20px;
	text-align: center;
	width: 100px;
}
	.btn:hover {
		background: snow !important;
		cursor: pointer;
	}

#rBtn {
	background: tomato;
	top: 20px;
}

	#rBtn:hover {
		border: 2px solid tomato;
		color: tomato;
	}

#oBtn {
	background: orange;
	border-color: snow;
	top: 60px;
}
	#oBtn:hover {
		border-color: orange;
		color: orange;
	}

#ygBtn {
	background: gold;
	right: 20px;
	top: 100px;
}
	#ygBtn:hover {
		border-color: limegreen;
		color: limegreen;
	}

#bBtn {
	background: turquoise;
	top: 140px;
}
	#bBtn:hover {
		border-color: turquoise;
		color: turquoise;
	}
